{% extends "tcancion.html" %}

{% block content %}
<div class="tablacancion">
    <table id="data" class="mdl-data-table hover" cellspacing="0">
        <thead>
            <tr>
                <th class='text-info'>Cancion</th>
                <th class='text-info'>Año</th>
                <th class='text-info'>Duracion</th>
                <th class='text-info'>Album</th>
                <th class='text-info'>Artista</th>
                <th class='text-info'>Genero</th>
                <th class='text-info'>Generaciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}


<script>
    $(document).ready(function () {
        var table = $('#data').DataTable({
            ajax: '/api/data',
            responsive: true,
            serverSide: false,
            columns: [
                { data: 'Nombre'},
                { data: 'Año' },
                { data: 'Duracion'},
                { data: 'Album'},
                { data: 'Artista' },
                { data: 'Genero'},
                { data: 'Generacion' }
            ],
            columnDefs: [{targets: ['_all'],
                render: function ( data, type, row ) {
                color = 'white';
                return '<span style="color:' + color + '">' + data + '</span>';
}
}]
        });
    });
</script>
{% endblock %}

